
        body {
            font-size: 6em;
            text-align: center;
            margin: 0;
        }

        #count {
            margin: 0;
            font-weight: bold;
            color: #888;
        }

        #wrap {
            padding: 20px 10px;
            background-color: #666;
            font-weight: bold;
            color: #fff;
            height: 400px;
            font-size: 1.7rem;
        }

        span {
            transition: all 300ms 0s ease;
        }

        .add-color {
            font-size: 0.5em;
            opacity: 0;
        }

        #text{
            margin-top: 60px;
        }

        .btn{
            display: block;
            width: 20%;
            margin: 30px auto;
            font-size: 1.8rem;
            font-weight: bold;
            color: #666;
            cursor: pointer;
            border: #666 5px solid;
            border-radius: 40px;
        }
        .btn:hover{
            opacity: 0.7;
        }